# Impede acesso direto a arquivos PHP do navegador
<FilesMatch "\.(php)$">
    Order allow,deny
    Allow from all
</FilesMatch>

<Files "connection.php">
    Order deny,allow
    Deny from all
</Files>